/* .container { */
/*     display: grid; */
/*     grid-template-columns: auto 35%; */
/*     grid-template-rows: [row1-start] 25% [row1-end] auto [third-line] auto [last-line]; */
/*     justify-items: center; */
/*     align-items: center; */
/*     justify-content: center; */
/*     color: #2574B5; */
/*     grid-row-gap: 10%; */
/*     grid-column-gap: 10%; */
/* } */

#banner {
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
}

#company_name{
    font-size: 36px;
}

input{
    border: none;
    outline: none;
    font-size: inherit;
}

/* #address { */
/*     justify-self: left; */
/*     display: grid; */
/*     grid-template-rows: 25px 25px 25px 25px 25px; */
/* } */

/* #inv-banner-container { */
/*     display: grid; */
/*     grid-template-rows: 25px 25px 25px 25px 25px; */
/*     width: 100%; */
/*     text-transform: uppercase; */
/* } */

/* #new_text { */
/*     grid-column-start: 3; */
/*     grid-column-end: 3; */
/*     grid-row-start: 2; */
/*     grid-row-end: 3; */
/*     align-self: center; */
/*     text-align: center; */
/* } */

#inv-banner {
    display: grid;
    grid-template-columns: 50% 50%;
	  width: 100%;
	  text-align: center;
	  align-self: end;
	  background-color: #2574B5;
    color: white;
    height: 100%;
    grid-row: 3;
    align-content: center;
}

/* #inv-banner-info { */
/*     display: grid; */
/*     grid-template-columns: 50% 50%; */
/*     grid-row: 4; */
/*     text-align: center; */
/*     color:black */
/* } */

/* #customer-id-info { */
/*     display: grid; */
/*     grid-template-columns: 50% 50%; */
/*     grid-row: 2; */
/*     text-align: center; */
/*     color:black */
/* } */


/* #inv_date { */
/*     grid-column: 2; */
/* } */

/* #customer-id-container { */
/*     grid-column: 2; */
/*     display: grid; */
/*     grid-template-rows: 25px 25px; */
/*     width: 100%; */
/*     text-transform: uppercase; */
/*     align-self: start; */
/* } */

#cust-banner {
    display: grid;
    grid-template-columns: 50% 50%;
	  width: 100%;
	  text-align: center;
	  align-self: end;
	  background-color: #2574B5;
    color: white;
    height: 100%;
    align-content: center;
}


#bill-to-banner {
    display: grid;
    grid-template-columns: 50% 50%;
	  width: 100%;
	  text-align: center;
	  background-color: #2574B5;
    color: white;
    height: 100%;
    text-align: left;
    align-content: center;
}

#bill-to-banner > span {
    margin-left: 35px
}

/* #phone > input { */
/*     margin-left: 5px; */
/* } */

#ruler {
    visibility: hidden;
    white-space: nowrap;
}
